:root {
  font-size: 65.2%;
  --color-dark: #0c0a09;
  --color-teal-light: #14b8a6;
  --color-secunday: #0f172a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-dark);
}
p,
span {
  font-family: var(--font-roboto), sans-serif, Arial, Helvetica;
}
h2 {
  font-family: var(--font-roboto);
}
.animationButtonBurger {
  transform: translateX(-5rem);
  background-color: transparent !important;
  box-shadow: none !important;
}
.animationButtonBurger::before {
  transform: rotate(45deg) translate(35px, -35px) !important;
}
.animationButtonBurger::after {
  transform: rotate(-45deg) translate(35px, 35px) !important;
}
.animationNavbar {
  overflow: hidden;
  width: 0 !important;
  transition: all 0.5s ease-in-out !important;
}
.animationNavbar span {
  opacity: 0 !important;
  transition: all 0.2s ease-in-out !important;
}
@media screen and (min-width: 900px) {
  .animationNavbar {
    overflow: visible !important;
    width: 50rem !important;
  }
  .animationNavbar span {
    opacity: 1 !important;
    transition: all 0.5s ease-in-out !important;
  }
}

.errorMessage {
  background-color: #fca5a5;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  margin: 2rem auto;
  border-radius: 5px;
  color: #dc2626;
  border: 2px solid #dc2626;
}
button {
  cursor: pointer;
}
.errorMessageInput {
  color: #ff0000;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.btnClose {
  position: absolute;
  top: -2.8rem;
  right: -2rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  color: #ff0000;
  background-color: transparent;
  border: none;
}
.isActive {
  font-weight: bold !important;
}
.isActive div {
  width: 4rem !important;
}
.amountItem {
  width: 4rem;
  text-align: center;
}
