.articleGlobal {
  position: relative;
  margin: 18rem auto;
  width: 90%;
  section {
    margin-bottom: 5rem;
  }
  h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #16a34a;
    svg {
      display: block;
      margin: 0 auto;
      font-size: 8rem;
      margin-bottom: 1rem;
    }
  }
  p {
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  p strong {
    color: var(--color-teal-light);
    margin: 0 0.5rem;
  }
  @media screen and (min-width: 700px) {
    width: 60rem;
  }
}
.containerTitle {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    color: #fff;
    font-size: 7rem;
  }
  h1 {
    color: var(--color-teal-light);
    font-family: var(--font-roboto);
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
  }
}
.listArticle {
  margin-top: 5rem;
  li {
    margin: 1rem auto;
  }
  h3 {
    color: #86efac;
    font-family: var(--font-roboto);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  span {
    color: #fff;
    margin-right: 1rem;
    font-weight: bold;
  }
  p {
    margin-bottom: 4rem;
  }
}

.notFound {
  width: 100%;
  height: 100vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span svg {
    font-size: 20rem;
    color: #16a34a;
  }
  h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  a svg {
    transform: scale(1.2);
    margin-right: 1rem;
  }
  a {
    text-decoration: none;
    background-color: #16a34a;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 4rem;
    font-family: var(--font-roboto);
    border-radius: 0.5rem;
  }
}
