.containerForm {
  margin: 0 auto;
  position: relative;
  top: 12rem;
  width: 95%;
  z-index: 1;
  h2 {
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h2 svg {
    color: var(--color-teal-light);
    font-size: 8rem;
    margin-bottom: 1rem;
  }
  h2 span {
    color: #fff;
    font-family: var(--font-roboto);
    font-size: 1.5rem;
  }
  form {
    width: 90%;
    margin: 1rem auto;
  }
  form textarea {
    width: 100%;
    height: 30rem;
    padding: 1rem;
    background-color: var(--color-secunday);
    border: 2px solid var(--color-teal-light);
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 2rem;
    resize: none;
    border-radius: 0.5rem;
    outline: none;
  }
  form textarea:focus {
    background-color: #27272a;
    box-shadow: 0 0 5px var(--color-teal-light);
  }
}
.containerMenu {
  width: 80%;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  button {
    padding: 1rem;
    width: 7rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-teal-light);
    color: var(--color-dark);
    border: none;
    transition: all 0.5s ease-in-out;
  }
  button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--color-teal-light);
  }
  button svg {
    font-size: 2rem;
  }
  button span {
    font-weight: bold;
  }
}
.areaetextContainer {
  scrollbar-color: #0f172a #14b8a6;
  scrollbar-width: thin;
  position: relative;

  @media screen and (min-width: 900px) {
    width: 80rem;
  }
  button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 1px solid var(--color-teal-light);
    border-radius: 5px;
    background-color: var(--color-dark);
    padding: 0.5rem;
    color: var(--color-teal-light);
  }
}
.buttonsContainer {
  margin: 2rem auto;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: 900px) {
    width: 80rem;
    justify-content: start;
    margin-left: 1rem;
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem;
    background-color: var(--color-teal-light);
    color: var(--color-dark);
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }

  button:hover {
    transform: scale(1.2);
  }
  svg {
    font-size: 3rem;
  }
  button span:last-child {
    background-color: #0f172a;
    display: block;
    width: 95%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    color: #fff;
  }
}
